# Dependências
node_modules/

# Variáveis de ambiente
.env

# Logs
*.log
npm-debug.log*

# Cobertura de testes
coverage/
.nyc_output/

# Sistema operacional
.DS_Store
Thumbs.db

# Editores
.vscode/
.idea/